.leaf {
  clip-path: polygon(
    0 0,
    50% 3%,
    75% 15%,
    90% 50%,
    95% 95%,
    50% 90%,
    15% 75%,
    3% 50%
  );
}

.scrollbar {
  /* Hide the scrollbar track */
  ::-webkit-scrollbar-track {
    display: none;
  }

  /* Style the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: #6b7280;
    border-radius: 9999px;
  }

  /* Add padding to the content area to make room for the scrollbar */
  .content {
    padding-right: 15px;
  }
}
/* Add a custom scrollbar width */
.scrollbar::-webkit-scrollbar {
  width: 8px;
}

/* Add a custom scrollbar color */
.scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-sm bg-orange-700;
}

/* Tailwind Classes */
.subTree {
  @apply relative -mt-1 flex flex-col items-center

  before:absolute before:right-1/2 before:top-0 before:z-10 before:h-1 before:w-full before:-translate-x-14

  before:content-[''] after:absolute after:right-0 after:top-0 after:h-1 after:w-full after:translate-x-full after:content-['']

  before:first:absolute before:first:right-1/2 before:first:top-0 before:first:z-10

  before:first:h-2 before:first:w-full before:first:-translate-x-14 before:first:-translate-y-1/3 before:first:bg-gray-600 before:first:content-['']  before:last:absolute before:last:right-1/2 before:last:top-0 before:last:z-10

  before:last:h-2 before:last:w-28 before:last:-translate-y-1/3 before:last:translate-x-14 before:last:bg-gray-600 before:last:content-[''] after:last:right-0 after:last:h-2 after:last:w-1/2 after:last:-translate-y-1/3  after:last:bg-gray-600;
}

.leaf-wrapper {
  @apply relative
  mb-10 mt-[70px] w-auto translate-x-6 before:absolute
  before:-left-3 before:-top-7 before:h-10 before:w-1 before:translate-x-1/2 before:-rotate-45 before:bg-pink-800 before:content-[''] after:absolute
  
  after:-left-6 after:top-1 after:w-1 after:bg-orange-950 after:content-[''] group-first:-translate-x-full;
}

.leaf {
  @apply z-0 flex aspect-square h-28 w-28 flex-col items-center justify-center bg-pink-800 after:absolute after:right-1/2 after:top-0 after:h-full after:w-[.5px] after:translate-x-1/2 after:-rotate-45 after:bg-yellow-200 after:content-[''];
}